/* Properties panel */
jag-properties {
    display: flex;
    flex-direction: column;
    flex-basis: max-content;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
    background: var(--main-bg-lighter);
    color: var(--main-fg);
    box-sizing: border-box;
}

jag-properties #property-container {
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}
jag-properties #activity-container {
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.5em;
    border: 1px solid black;

}
jag-properties #node-container {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.5em;
    border: 1px solid black;
}

jag-properties .property-item {
    flex-direction: column;
    /*padding-left: 0.2em;*/
    /*padding-right: 0.2em;*/
    /*padding-bottom: 0.5em;*/
    }

jag-properties textarea {
    width: 100%;
}

/*the space between items*/
jag-properties div {

}

jag-properties .special {
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.5em;
}

jag-properties #childOf {
    background-color: blue;
    color: white;
}

/*jag-properties div {*/
/*    display: flex;*/
/*    flex: 1;*/
/*}*/


jag-properties:not(.root-node) input.contextual {
    box-shadow: 0px 3px 5px blue;
}

jag-properties.root-node .child-of-notice {
    display: none;
}

jag-properties div label {
    width: 8em;
}

jag-properties input.edited {
    box-shadow: 0px 3px 5px orange;
}

jag-properties div > span.io-add {
    cursor: pointer;
    float: right;
    width: 1em;
    text-align: center;
}

jag-properties div > span {
    font-size: 12pt;
}

jag-properties div > span.remove {
    cursor: pointer;
    float: right;
}

jag-properties div > span.binding.arrow, jag-properties div > span.annotation.equals {
    display: inline-block;
    width: 10%;
    text-align: center;
}

jag-properties div > input.binding, jag-properties .annotation.descriptor input {
    width: 40%;
}

jag-properties #bindings-property select, jag-properties div:not(.descriptor) > input.annotation {
    width: 45%;
}

jag-properties #annotations-property input[type="checkbox"] {
    margin-right: 10px;
}