jag-properties {
    display: flex;
    flex-direction: column;
    flex-basis: max-content;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
    background: var(--main-bg-lighter);
    color: var(--main-fg);
    box-sizing: border-box;
}

jag-properties #property-container {
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}
jag-properties #activity-container {
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 2.5em 0.5em 1em;
    border: 1px solid black;

}
jag-properties #node-container {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 2.5em 0.5em 1em;
    border: 1px solid black;
}

jag-properties #desc-input {
    width: 100%;
    height: 4em;
}

jag-properties .padded {
    padding-bottom: 1em;
    }



jag-properties select {
    overflow-y: auto;
}

jag-properties .special {
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.5em;
}

jag-properties div label {
    width: 8em;
}

jag-properties input.edited {
    box-shadow: 0px 3px 5px orange;
}

jag-properties div > span.io-add {
    cursor: pointer;
    float: right;
    width: 1em;
    text-align: center;
}

jag-properties div > span {
    font-size: 12pt;
}

jag-properties div > span.remove {
    cursor: pointer;
    float: right;
}

jag-properties div > span.binding.arrow, jag-properties div > span.annotation.equals {
    display: inline-block;
    width: 10%;
    text-align: center;
}

jag-properties div > input.binding, jag-properties .annotation.descriptor input {
    width: 40%;
}


jag-properties .row-stretch  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

jag-properties #binding-from-select. jag-properties #binding-to-select {
    flex-basis: content;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

jag-properties  .hidden {
    visibility: hidden;
    /*experiment with display:none*/
}


jag-properties #annotations-property input[type="checkbox"] {
    margin-right: 10px;
}
