:root {
	--main-bg: hsla(200,100%,99%,1);
	--main-bg-darker: hsla(200,95%,96%,1);
	--main-bg-active: hsla(200,90%,92%,1);

	--main-fg: hsla(200,90%,35%,1);
	--main-fg-light: hsla(200,90%,55%,1);
	--main-fg-active: lime;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: var(--main-bg);
	color: var(--main-fg);
	text-shadow: 1px 1px var(--main-bg);

	/* -webkit-font-smoothing: antialiased; */
	font-family:'Open Sans', 'Helvetica Neue Light', Helvetica, sans-serif;
	font-size: normal;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input, select {
	margin: 0;
	width: 100%;
	box-shadow: none;
	outline: none;
	padding: 0.25em;
	box-sizing: border-box;
	border: none;
	border-radius: 0;
	border-bottom: solid 2px #3EB7B7;
	transition: border 0.3s;
	-webkit-appearance: none;
}

input:focus, select:focus {
  border-bottom: solid 2px #19E631;
}

select {
	background-image:url('/icon/arrow-select.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

ol {
	list-style: none;
	margin: 0;	
	padding: 0;	
}

/* Tools */
side.tools {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

side.tools ol {
	display: flex;
	flex-direction: row;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

side.tools ol li {
	position: relative;
	flex-basis: 1;
	margin: 0;
	padding: 0.75em;
	background: var(--main-bg-darker);
	transition: background 0.5s;
	cursor: pointer;
	text-align: center;
	width: 6em;
}

side.tools li a {
	display:block;
	text-decoration:none;
}

side.tools ol li:hover {
	background: var(--main-bg-active);
}

side.tools ol ol {
	display:none; 
	position:absolute;
	padding: 0;
	top:100%;
	left:0%;
}

side.tools ol li:hover > ol {
	display: block;
}

side.properties, side.library {
	position:absolute;
	top:0;
	background: var(--main-bg-darker);
	height: 100%;
	padding: 0.75em;
	color: var(--main-fg);
	text-shadow: 1px 1px var(--main-bg);
}

span.variable {
	color: var(--main-fg-light);
	font-style: italic;
}

/* Library panel */
side.library {
	border-right: 1px solid darkslategray;
	left: 0;
}

side.library header h1 {
	font-size: 1.5em;
}

side.library li {
	padding: 0.25em;
	border-bottom: 1px solid white;
	cursor: pointer;
}



/* Properties panel */
side.properties {
	border-left: 1px solid darkslategray;
	right: 0;
}

side.properties div {
	padding: 0.75em;
}

side.properties div label {
	display: block;
	width: 8em;
}

side.properties div label.connector-label {
	width: 8em;
}

/* Playground */

kpl-playground {
	display: block;
	height: 100%;
	width: 100%;
}

kpl-playground svg {
	display: block;
	height: 100%;
	width: 100%;
}

kpl-playground [is='kpl-node'] {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0.15em;
	background-clip: content-box;
	z-index: 3;

	/* Invisible Border for transition */
	border: 1px solid rgba(0,0,0,0);
	text-align: center;
	outline: none;
}

kpl-playground [is='kpl-node'] header, kpl-playground [is='kpl-node'] div.content {
	padding: 0.5em;
}

kpl-playground [is='kpl-node'] header {
	cursor: -webkit-grab;
	cursor: grab;
	border-bottom: 2px solid var(--main-bg-darker);
	transition: border 0.5s;
}

kpl-playground [is='kpl-node']:focus header{
	border-bottom: 2px solid var(--main-fg-active);
}

kpl-playground [is='kpl-node'] header.moving {
	cursor: -webkit-grabbing;
	cursor: -grabbing;
}

kpl-playground [is='kpl-node'] div.content {
	display: none;
	background: var(--main-bg-darker);
	height: 50px;
}

kpl-playground [is='kpl-node'] kpl-connector {
	font-size: 0.75em;
	position: absolute;
	/*background: var(--main-bg-darker);*/
	padding: 0.25em;
	left: 100%;
	top: 50%;
	border-bottom: 1px solid var(--main-bg-darker);
	cursor: pointer;
	transform: translate(0, -50%);
}

