body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: hsl(240, 49%, 10%);
	background-image: url(http://www.transparenttextures.com/patterns/black-mamba.png),   radial-gradient(hsl(240, 30%, 15%), hsl(240, 50%, 10%));
  	
	background-position: bottom right, left, right;
	color: hsla(250,15%,20%,1);
	text-shadow: 1px 1px whitesmoke;
	/* -webkit-font-smoothing: antialiased; */
	font-family:'Open Sans', 'Helvetica Neue Light', Helvetica, sans-serif;
	font-size: small;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
}

input, select {
	margin: 0;
	width: 50%;
	box-shadow: none;
	outline: none;
	padding: 0.25em;
	box-sizing: border-box;
	border: none;
	border-radius: 0;
	border-bottom: solid 2px #3EB7B7;
	transition: border 0.3s;
	-webkit-appearance: none;
}

input:focus, select:focus {
  border-bottom: solid 2px #19E631;
}

select {
	background-image:url('/icon/arrow-select.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

/* Tools */
side.tools {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

side.tools ol {
	display: flex;
	flex-direction: row;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

side.tools ol li {
	position: relative;
	flex-basis: 1;
	margin: 0;
	padding: 0.75em;
	background: hsla(220,15%,80%,1);
	transition: background 0.5s;
	cursor: pointer;
	text-align: center;
	width: 75px;
}

side.tools li a {
	display:block;
	text-decoration:none;
}

side.tools ol li:hover {
	background: hsla(240,15%,90%,1);
}

side.tools ol ol {
	display:none; 
	position:absolute;
	padding: 0;
	top:100%;
	left:0%;
}

side.tools ol li:hover > ol {
	display: block;
}

/* Property panel */

side.properties {
	position:absolute;
	top:0;
	right:0;
	background: hsla(240, 15%, 10%, 0.5);
	height: 100%;
	border-left: 1px solid darkslategray;
	padding: 0.75em;
	color: whitesmoke;
	text-shadow: none;
}

side.properties div {
	padding: 0.75em;
}

side.properties div label {
	display: inline-block;
	width: 6vw;
}

side.properties div label.connector-label {
	width: 3vw;
}

/* Playground */

kpl-playground {
	display: block;
	height: 100%;
	width: 100%;
}

kpl-playground svg {
	display: block;
	height: 100%;
	width: 100%;
}

kpl-playground [is='kpl-node'] {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0.15em;
	background-clip: content-box;
	z-index: 3;

	/* Invisible Border for transition */
	border: 2px solid rgba(0,0,0,0);
	border-radius: 0.5em;
	transition: border 0.5s;
	text-align: center;
}

kpl-playground .selected-node[is='kpl-node'] {
	border: 2px solid hsl(127, 80%, 50%);
}

kpl-playground [is='kpl-node'] header, kpl-playground [is='kpl-node'] div.content {
	padding: 0.5em;
}

kpl-playground [is='kpl-node'] header {
	cursor: 
	
	
	
	
	
	
	-webkit-grab;
	cursor: grab;
	background: hsla(240,5%,85%,1);
	border-bottom: 1px solid whitesmoke;
	border-radius: 0 0.25em 0.25em 0;
}

kpl-playground [is='kpl-node'] header.moving {
	cursor: -webkit-grabbing;
	cursor: -grabb	ing;
}

kpl-playground [is='kpl-node'] div.content {
	display: none;
	background: hsla(240,5%,90%,1);
	height: 50px;
}

kpl-playground [is='kpl-node'] kpl-connector {
	font-size: 0.75em;
	position: absolute;
	background: hsl(0, 0%, 86%);
	padding: 0.25em;
	left: 100%;
	top: 50%;
	border-top: 1px solid darkslategray;
	border-radius: 0 0.5em 0.5em 0;
	cursor: pointer;
	
	transform: translate(0, -50%);
}
