def-definition {
    /* Reset layout */
    display: flex;
    flex-direction: column;
    height: 99%;          /* was 95 */
   /* width: 60%;*/
    z-index: 0;                      /* new */
    color: var(--main-fg);             /* new */
    overflow-y: scroll;
    position: relative;
    flex-grow: 1;
}

def-definition .definition-block{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    position: relative;
    outline: 2px solid blue;
    border:3px solid black;
    padding: 10px 10px 10px 10px;
}

def-definition .function {
    flex-grow: 1;
}

def-definition .title-line{
    display: flex;
    flex-direction: row;
}


def-definition #subscription-add-button {

}

def-definition .block-title {
    font-size: 16px;
    text-align: center;
    width: 95%;
}

def-definition #subscription-add-button {

}

def-definition .tester-entry-field {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 10px 10px 10px 10px;
}


def-definition .test-collection {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 5px 5px 5px 5px;
    margin: 10px;
    box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.11), 0px 0px 6px hsla(0, 0%, 0%, 0.11);
    transition: box-shadow 350ms var(--transition-function);
    border: 1px solid var(--input-border);
    border-radius: 2px;
    background: var(--main-bg-lighter);
}


def-definition .test-property {
    border: 1px solid var(--input-border);
    border-radius: 2px;
    width: max-content;

}

def-definition .title-line {
    display: flex;
    flex-direction: row;
}

def-definition .header-line, .subscription-line {
    display: flex;
    flex-direction: row;
   justify-content: space-between ;
}

def-definition .subscription-line {
    outline: 1px solid blue;
}

def-definition .sub-property {
    text-align:center;
}
def-definition .info-wrap {
    display: flex;
    flex-direction: column;
    color: darkgreen;
}

def-definition  h3 {
    display: flex;
    flex-direction: row;
    text-align:  center;
    padding: 0.25em;
}

def-definition li {
    padding: 0.25em;
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: background-color 350ms var(--transition-function);
}

def-definition li:hover {
    background-color: var(--main-fg-lighter);
}


