/* Library panel */

def-events {  /*analysis-library new */
	display: flex;
	flex-direction: column;
	height: 100%;          /* was 95 */
	width: 20%;
    z-index: 0;                      /* new */
    background: var(--main-bg-darker); /* new */
	color: var(--main-fg);             /* new */
}

def-events ol {
	height: 100%;
	overflow-y: scroll;
}

def-events li {
	padding: 0.25em;
	border-bottom: 1px solid white;
	cursor: pointer;
	transition: background-color 350ms var(--transition-function);
}

def-events li:hover {
	background-color: var(--main-fg-lighter);
}

def-events h3 {
	padding: 0.25em;
}

def-events p {
	padding: 0.25em;
}


def-events pre {
	padding: 0.25em;
	margin: 0em;
}

def-events h3 {
	display: flex;
	flex-direction: row;
}

def-events .node-button {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

def-events h3 > span {
	width: 100%;
}

def-events .node-button:hover {
	opacity: 0.75;
}

def-events .locked {
	opacity: 0.75;
}

def-events .node-button {
	background-size: cover;
	width: 16px;
	height: 16px;
	flex-basis: 16px;
	flex-grow: 0;
	flex-shrink: 0;
}

