@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400');

/*body {*/

/*    background-color: hsla(194, 100%, 98%, 1);*/
/*    --primary-10: hsla(200, 80%, 80%, 0.1);*/
/*    --primary-50: hsla(200, 80%, 80%, 0.5);*/
/*    --error: hsla(0, 80%, 80%, 0.5);*/
/*}*/

ia-table {
    flex-grow: 1;
    box-shadow: 0 0 0 1px darkgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

ia-table > header {
    min-width: 25em;
    width: 50%;
    max-width: 50em;
    padding: 0.75em;
    padding-bottom: 0;
    box-shadow: 0px 1px 10px lightgray;
    margin: 0.75em;
    align-self: center;
}

ia-table > header > * {
    margin-bottom: 0.75em;
}

ia-analysis {
    display: inline-grid;
    font-size: 14px;
    font-family: 'Open Sans', Helvetica, sans-serif;

    grid-template-columns: repeat(var(--jag-columns), auto) [jag-column-end] repeat(var(--team-columns), max-content) [team-column-end];
    grid-template-rows: repeat(var(--rows), min-content);
    grid-gap: 0.25em;

    margin: 0 0.75em;
}

ia-analysis > .ia-cell {
    --col-end: 1 span;
    --row-end: 1 span;
    grid-column: var(--col-start) / var(--col-end);
    grid-row: var(--row-start) / var(--row-end);
    background: var(--primary-10);
    border: 1px solid var(--primary-50);
    border-radius: 0.25em;
    cursor: default;
}

ia-analysis > ia-jag {
    display: block;
    position: relative;
    padding: 0.25em 0.75em;
}

ia-analysis > ia-jag.hidden {
    display: none;
}

ia-analysis > ia-jag.unsaved {
    background: var(--error);
}

ia-analysis > ia-column-header {
    padding: 0.25em;
    font-size: 0.75em;
    text-align: center;
    min-width: -webkit-fill-available;
}

ia-jag > header h1.nodename[placeholder]:empty:before {
    content: attr(placeholder);
    color: LightGray;
}

ia-jag > header {
    display: flex;
    align-items: center;
}

ia-jag > header h1,
ia-jag > h2 {
    font-weight: normal;
    transition: bottom 250ms ease-in-out;
    margin: 0;
    outline: 0;
}

ia-jag > header h1 input {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 1.2em;
    width: 100%;
}

ia-jag > h2 input {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 1em;
    width: 100%;

}

ia-jag > header h1 {
    font-size: 1em;
    margin-right: 0.75em;
}

ia-jag > h2 {
    font-size: 0.75em;
    color: hsla(200, 50%, 40%, 1.0);
    transition: font-size 250ms ease-in-out;
}

ia-jag > header h1:hover,
ia-jag > h2:hover {
    border-bottom: 1px dashed lightgray;
}

ia-jag > header h1:focus,
ia-jag > h2:focus {
    border-bottom: 1px solid lightgray;
}

ia-jag > .fold-button {
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 12px;
    background: hsla(200, 80%, 80%, 0.5);
    border-radius: 6px;
    border: 1px solid hsla(200, 80%, 80%, 0.9);
    transform: translate(50%, -50%);
    cursor: pointer;
    box-sizing: border-box;
}

ia-jag.leaf > .fold-button {
    display: none;
}

ia-jag > header jag-controls {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

ia-jag:hover > header jag-controls {
    opacity: 0.75;
}

jag-controls .jag-button {
    background-size: cover;
    width: 16px;
    height: 16px;
    flex-basis: 16px;
    flex-grow: 0;
    flex-shrink: 0;
}

jag-controls .add-child-button {
    order: 0;
    background-image: url('/jag/icons/ic_add_black_18dp_1x.png');
}

jag-controls .remove-button {
    order: 1;
    background-image: url('/jag/icons/ic_delete_black_18dp_1x.png');
}

ia-assessment {
    --row-end: 1 span;
    --col-end: 1 span;
}

ia-context-menu {
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 0.25em;
    background-color: whitesmoke;
}

ia-context-menu > div {
    font-size: 0.75em;
    padding: 0.25em;
    cursor: pointer;
}

ia-context-menu > div:hover {
    background-color: lightblue;
}

auto-complete:not(.visible) {
    display: none;
}

auto-complete > .selected {
	background-color: lightblue;
}

input#analysis-file {
	display: none;
}