ia-properties {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
    background: var(--main-bg-lighter);
    color: var(--main-fg);
}

ia-properties div {
    padding: 0.75em;
}