/* Library panel */

jag-library, analysis-library {  /*analysis-library new */
	display: flex;
	flex-direction: column;
	height: 100%;          /* was 95 */
	width: 20%;
    z-index: 100;                      /* new */
    background: var(--main-bg-darker); /* new */
	color: var(--main-fg);             /* new */
}

jag-library ol, analysis-library ol {
	height: 100%;
	overflow-y: scroll;
}

jag-library li, analysis-library li {
	padding: 0.25em;
	border-bottom: 1px solid white;
	cursor: pointer;
	transition: background-color 350ms var(--transition-function);
}

jag-library li:hover, analysis-library li:hover {
	background-color: var(--main-fg-lighter);
}

jag-library h3, analysis-library h3 {
	padding: 0.25em;
}

jag-library p, analysis-library p {
	padding: 0.25em;
}

jag-library .library-search {
	height: 30px;
	font-size: 14px;
	background-image: url('../icons/search_mag_20.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
	background-color: #fff;
	border: 1px solid darkgray;
	box-shadow: none;
}

analysis-library pre {
	padding: 0.25em;
	margin: 0em;
}
