:root {
	--main-bg: hsla(200,100%,99%,1);
	--main-bg-darker: hsla(200,95%,96%,1);
	--main-bg-active: hsla(200,90%,92%,1);

	--main-fg: hsla(200,90%,35%,1);
	--main-fg-lighter: hsla(200,90%,35%,0.1);
	--input-active: #19E631;
	--input-border: #3EB7B7;

	--library-search-height: 2em;
	--ide-height: 33%;
	--transition-function: cubic-bezier(0.4, 0.0, 0.2, 1) ;
}

body {
	display: flex;
	flex-flow: row wrap;

	background-color: var(--main-bg);
	color: var(--main-fg);
	font-family:'Helvetica Neue Light', Helvetica, sans-serif;
	font-weight: lighter;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 12px;
}

h1, h2, h3, h4, span, p, input, select, ol, ul, li {
	margin: 0;
	padding: 0;
	font-weight: lighter;
}


input:not([type='checkbox']), select {
	width: 100%;
	box-shadow: none;
	outline: none;
	padding: 0.25em;
	box-sizing: border-box;
	border: none;
	border-radius: 0;
	border-bottom: solid 2px var(--input-border);
	transition: border 0.3s;
	-webkit-appearance: none;
}

input:focus, select:focus {
  border-bottom: solid 2px var(--input-active);
}

select {
	background-image:url('../icons/arrow-select.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

ol {
	list-style: none;
}


span.variable {
	color: var(--main-fg-lighter);
	font-style: italic;
}

