:root {
    background-color: hsla(191, 38%, 94%, 1);
    --primary-10: hsla(200, 80%, 80%, 0.1);
    --primary-50: hsla(200, 80%, 80%, 0.5);
    --error: hsla(0, 80%, 80%, 0.5);

    --test: hsl(0, 88%, 47%);
    --main-bg-lighter: hsla(200, 100%, 95%, 1);
    --main-bg: hsla(200,38%,95%,1);
    --main-bg-darker: hsla(200,95%,90%,1);
    --main-bg-active: hsla(200,90%,35%,0.1);

    --main-fg: hsla(200,90%,35%,1);
    --main-fg-lighter: hsla(200,90%,35%,0.1);
    --input-active: hsla(127, 80%, 50%, 1);
    --input-border: hsla(180, 49%, 48%, 1);

    --library-search-height: 2em;
    --ide-height: 33%;
    --transition-function: cubic-bezier(0.4, 0.0, 0.2, 1) ;
}

*, *::before, *::after {
    box-sizing: border-box;
}


body, html {
    padding: 0;
    margin: 0;
}

body {;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--main-bg);
    color: var(--main-fg);
    font-family:'Helvetica Neue Light', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body #all-panels {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    /*border: 4px solid deeppink;*/
}

body #main-panels {
    display: flex;
    flex-flow: row nowrap;
    align-items: normal;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-height: 94vh;
    /* really dont like this - but do not have another way to limit this height */
}

body #left-panel {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: content;
    max-height: 100%;
    width: 240px;
    max-width: 240px;
}

body #center-panel {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    max-height: 100%;
    flex-basis: content;
    /*box-shadow: inset 0 0 3px darkgray;*/
}

body #right-panel {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: content;
    height: 100%;
    max-width: 240px;
    width: 240px;
}

h1, h2, h3, h4, span, p, input, select, ol, ul, li {
    margin: 0;
    padding: 0;
    /*font-weight: lighter;*/
}

input:not([type='checkbox']), select {
    width: 100%;
    box-shadow: none;
    outline: none;
    padding: 0.25em;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    border-bottom: solid 2px var(--input-border);
    transition: border 0.3s;
    -webkit-appearance: none;
}

input:focus, select:focus {
  border-bottom: solid 2px var(--input-active);
}

select {
    background-image:url('/jag/icons/arrow-select.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

ol {
    list-style: none;
}

span.variable {
    color: var(--main-fg-lighter);
    font-style: italic;
}

#center-gutter {
    flex-grow: 0;
    flex-shrink: 0;
    background: gold;
    height: 10px;
    color: gold;
    width: 100%;
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    margin: 0 0 auto 0;
}

.hidden {
    display: none;
}
